*{

margin:0;

padding:0;

box-sizing:border-box;

}

body{

font-family:'Poppins',sans-serif;

background:#FAF6F0;

overflow:hidden;

}

#loading{

position:fixed;

width:100%;

height:100vh;

background:#FAF6F0;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

z-index:999;

transition:1s;

}

.flower{

font-size:70px;

animation:spin 3s linear infinite;

}

#loading p{

margin-top:20px;

color:#7A5C43;

font-size:15px;

letter-spacing:2px;

}

@keyframes spin{

from{

transform:rotate(0deg);

}

to{

transform:rotate(360deg);

}

}

#cover{

width:100%;

height:100vh;

background:

linear-gradient(rgba(255,253,248,.78),rgba(255,253,248,.78)),

url("assets/background/paper.jpg");

background-size:cover;

background-position:center;

display:flex;

justify-content:center;

align-items:center;

padding:25px;

text-align:center;

opacity:0;

transition:1s;

}

.overlay{

max-width:500px;

}

.overlay h3{

font-weight:400;

letter-spacing:4px;

color:#8A6B4D;

margin-bottom:10px;

}

.overlay h1{

font-family:'Caveat',cursive;

font-size:48px;

color:#7A5C43;

margin-bottom:20px;

}

.overlay h2{

font-size:26px;

margin-bottom:20px;

color:#8A6B4D;

}

.overlay p{

line-height:1.8;

color:#6E5A48;

margin-bottom:40px;

}

button{

padding:16px 35px;

border:none;

border-radius:50px;

background:#F5C542;

cursor:pointer;

font-size:16px;

transition:.3s;

}

button:hover{

transform:scale(1.05);

background:#efb920;

}

@media(max-width:768px){

.overlay h1{

font-size:40px;

}

.overlay h2{

font-size:22px;

}

}
